
li{
    float: left;
    padding: 0px 10px 0px 10px;
    display: inline;
}
li.li1 button{
    background-color: red;
    border: none;
    border-radius: 6px;
}
li.li2 button{
    background-color: yellow;
    border: none;
    border-radius: 6px;

    
}
li.li3 button{
    background-color: green;
    border: none;
    border-radius: 6px;

}
#para{
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}
.para1{
    font-size: 20px;
    padding: 0px 10px 0px 10px;

}

